/* Estilo general */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Título */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Párrafos */
p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

/* Línea decorativa */
hr {
    border: 0;
    height: 2px;
    background: #ddd;
    margin: 20px 0;
}
